<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
  <add name="datacon" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Gestionnaire_de_depenses;Integrated Security=True;Pooling=False" />
  <add name="Gestionnaire_de_depenses.Properties.Settings.Gestionnaire_de_depensesConnectionString"
   connectionString="Data Source=(LocalDB)\ROGX;AttachDbFilename=|DataDirectory|\Gestionnaire_de_depenses.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Gestionnaire_de_depenses.Properties.Settings.Gestionnaire_de_depensesConnectionString1"
   connectionString="Data Source=(localdb)\ROGX;Initial Catalog=Gestionnaire_de_depenses;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="gestion_depensesEntities" connectionString="metadata=res://*/DBgestiondepenses.csdl|res://*/DBgestiondepenses.ssdl|res://*/DBgestiondepenses.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ROG;initial catalog=gestion_depenses;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;"
   providerName="System.Data.EntityClient" />
  <add name="Gestionnaire_de_depenses.Properties.Settings.Gestionnaire_de_depensesConnectionString2"
   connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Gestionnaire_de_depenses;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Gestionnaire_de_depenses.Properties.Settings.gestion_depensesConnectionString"
   connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=gestion_depenses;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>